<nav>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <span>Who's Scene is it anyway? 💁</span>
    </a>

    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <li class="nav-item">
        <a class="nav-link" routerLink="/display" routerLinkActive="active">
          <span>🎭Scene Generator⚙️</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/insert" routerLinkActive="active">
          <span>🌈Insert Creativity✨</span>
        </a>
      </li>

</nav>
